script#tmpl-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#tags}}
  |    <li><a class='tag' title='点击添加标签' href='#'>{{tag}}</a></li>
  |  {{/tags}}
  |</ul>
script#temp-errors(type='text/template')
  |{{#each errors as err}}
  |<div class='alert-message warning'>
  |<p>{{err.type}}</p>
  |</div>
  |{{/each}}

- if(isNew && shareset)
  script#tmpl-share-list(type='text/template').
    <ul>
      {{#list}}
      <li data-id='{{id}}'>
        <a href='#'>
            <span class="title">{{authors}}</span> : 
            <span class="title">{{title}} </span>
            <span class="desc">{{desc}}</span>
        </a>
      </div>
      {{/list}}
    </div>
  script#tmpl-selected-list(type='text/template').
    <h3>已选择的发享</h3>
    <div class='ratelist'>
      {{#list}}
      <div data-id='{{id}}' class='shareitem'>
        <a target='_blank' href='/share/{{id}}' class='link' style='background-image:url({{cover}})'>
          <div class="wrap">
            <div class="title"> {{title}} </div>
            <div class="desc">{{desc}}</div>
            <div class="act">
              <span class="author">{{authors}}</span>
              <span title='热度'><b class='icon-fire'></b>{{viewCount}}</span>
            </div>
          </div>
        </a>
        <a class='close'>&times;</a>
      </div>
      {{/list}}
    </div>

h1= title
- if(isNew && shareset)
  ul.nav.nav-pills
    li.active
      a(href='#choose-share',data-toggle='tab') 从分享库中选择
    li
      a(href='#create-share',data-toggle='tab') 创建新分享
.tab-content
  - if(isNew && shareset)
    div.active.tab-pane.chooser#choose-share
      #search-box.search-box
        input.search(type='text')
        span.clear-search.clear-btn
          i.icon-remove
      #share-list.share-list
      #selected-list
      .footer
        .actions
          button.submit.btn.btn-primary 添加到分享会
      script
        seajs.use('/js/share-choose',function(module){
          new module.Chooser({
            shareset : '#{shareset}'
          });
        });
  form.tab-pane#create-share.well.form-horizontal.ajax-form(class=!isNew||!shareset?'active' :'','action=isNew?'/share/':'/share/#{share._id}', method=isNew?"post":"put")
    input(name='shareset',value=shareset, type='hidden')
    .error-holder
    fieldset
      .control-group
        label.control-label(for="title") 分享标题*
        .controls
          input.text#input_title(name="title",value=share.title)
          span.help-inline

      .control-group
        label.control-label(for="authers") 分享者*
        - each author in share.authors
          .controls
            input.span2(name="authors",value=author)
            span.help-inline
      .control-group
        label.control-label(for="tags", title='(逗号或空格分开)') 标签
        .controls
          input.xxlarge#tags(name="tags",value=share.tags.join(', '))
          span.help-inline 可以用逗号, 或空格分格
          .tags#tags
      .control-group
        label.control-label(for='desc') 介绍
        .controls
          textarea.xxlarge(name='desc',row='3')= share.desc
          span.help-inline
      .form-actions
        button.btn.btn-primary(type="submit")= isNew?"添加分享":"修改"
        - if(shareset || !isNew)
          &nbsp;
          a.btn(href=shareset?'/shareset/#{shareset}':'/share/#{share._id}') 返回

script
  KISSY.use('rate/ajax')
  seajs.use('/js/tags')
  seajs.use('/js/edit-share');
  seajs.use('/js/edit-share');
  seajs.use("/js/modules/bootstrap/bootstrap-tab")
