.row-fluid
  .span9
    h1 #{share.title}
    .meta-box
      .edit-content
        a(href='/share/#{share._id}/editor')
          i.icon-pencil
          |编辑分享内容
      span= share.authors.join(',')
      &nbsp;
      span.viewCount #{share.viewCount} views
    - if(share.desc)
      p.desc-box 简介：#{share.desc}
    .content-bd!= share.contentHTML
    .disqus-box.mt20
      #disqus_thread
      script
        var disqus_shortname="firebird";
        var disqus_identifier = "rate_#{share._id}";
        var disqus_developer = 1;
        (function(){
          var dsq = document.createElement('script');
          dsq.type="text/javascript";
          dsq.async = true;
          dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
          document.getElementsByTagName("head")[0].appendChild(dsq);
        })()
  .span3
    .well(style='padding:8px 0;')
      ul.nav.nav-list
        li.nav-header
          .cover
            .img
              img(width='195',height='195',src=share.cover)
            .action
              a(href='/share/#{share._id}/upload-cover') 更改封面
        li
          a(href='/share/#{share._id}/edit') <i class='icon-cog'></i> 编辑分享信息
        - if(share.tags && share.tags.length);
        li.nav-header 标签
        li
          .tags
            ul.tags
              -share.tags.forEach(function(tag){
                li
                  a(href="/explore#tags/#{tag}")= tag
              -})
        li.nav-header 分享会
        - each shareset in sharesets
          li: a(href='/shareset/#{shareset.postname}') #{shareset.name} ( #{moment(shareset.date).fromNow()} )

